body {
  background-color: hsl(210 4% 19% / 1);
  font-family: Oxanium;
  color: rgb(243 243 244 / 50%);
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 0.75rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 1rem;
  /* padding-top: 1rem; */
  /* border-top: 1px solid; */
}

.button {
  border: 1px solid #7a7a7a;
  border-radius: 3px;
  font-size: 0.5rem;
  text-transform: uppercase;
  margin-right: 1rem;
  padding: 0.5rem 1.45rem 0.5rem 1.6rem;
  background-color: #444444;
  color: white;
  cursor: pointer;
  box-shadow: 1px 2px 3px 3px rgb(0 0 0 / 50%);
  font-family: Oxanium;
  font-weight: 400;
  letter-spacing: 0.12rem;
  transition: border-color 40ms linear 0ms, background-color 50ms linear 0ms;
}

.button:hover {
  background-color: #6c6c6c;
  border-color: #c4c4c4;
}

.button:active {
  background-color: #606060;
  transform: translate(0, 1px);
}

.button:focus {
  border: 1.2px solid rgb(255 255 255 / 69%);
  outline: 0;
}

.button:last-child {
  margin-right: 0;
}

.button.close {
  padding: 0.5rem 0.5rem 0.5rem 0.65rem;
}
